.loading {
  top: 50%;
  left: 50%;
  padding: 10px 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
}
.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  animation: dots 1.5s linear infinite;
}

.loading span:nth-child(1) {
  background-color: brown;
  animation-delay: 0s;
}
.loading span:nth-child(2) {
  background-color: red;
  animation-delay: 0.25s;
}
.loading span:nth-child(3) {
  background-color: gold;
  animation-delay: 0.5s;
}
.loading span:nth-child(4) {
  background-color: navy;
  animation-delay: 0.75s;
}
.loading span:nth-child(5) {
  background-color: black;
  animation-delay: 1s;
}

.loading .fa-plane {
  color: #999;
  font-size: 1.4em;
  position: absolute;
  top: 2;
  left: -30px;
  animation: plane 1.5s linear infinite;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes plane {
  0% {
    left: -30px;
  }
  100% {
    left: 110%;
  }
}
