@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  line-height: 1.6em;
  color: #222;
  font-size: 15px;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/* Section Card UI */

.content {
  width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.content h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 50px;
}
.item {
  color: white;
  display: inline-block;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00000054;
  background-image: linear-gradient(-45deg, #4facfe 0%, #00f2fe 100%);
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: 0.35s;
}

.item:hover {
  transform: scale(1.1);
}

.item:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.27);
  position: absolute;
  width: 100%;
  height: 44%;
  left: 0;
  bottom: 0;
  transform: rotate(-13deg) scale(1.25);
}

.item:nth-child(2) {
  background-image: linear-gradient(-45deg, #fa709a 0%, #fee140 100%);
}

.item:nth-child(3) {
  background-image: linear-gradient(-45deg, #e0c3fc 0%, #8ec5fc 100%);
}

.item > .fa-solid {
  font-size: 60px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0 10px 20px #00000054;
}

.fa-solid.fa-plane {
  transform: rotate(-45deg);
  background-image: linear-gradient(45deg, #fa709a 0%, #fee140 100%);
}

.fa-solid.fa-rocket {
  background-image: linear-gradient(45deg, #e0c3fc 0%, #8ec5fc 100%);
}

.item h3 {
  font-size: 20px;
  font-weight: bold;
}
.item h2 {
  font-size: 40px;
  font-weight: bold;
}

.item ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.btn {
  background-color: white;
  display: inline-block;
  width: 150px;
  padding: 8px;
  border-radius: 30px;
  box-shadow: 0 10px 20px #00000054;
  font-weight: 300;
  transition: 0.35s;
  margin-top: 20px;
  position: relative;
}

.btn:hover {
  color: white;
  background-color: black;
}
