@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #222;
  font-size: 15px;
  line-height: 1.6em;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  top: 50%;
}
.modal-content {
  /* border: 1px solid black; */
  width: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
  display: flex;
  overflow: hidden;
}
.modal-content > div {
  padding: 20px;
}
.photo {
  flex: 1;
  background: url(/images/skate01.jpg) no-repeat center center;
  background-size: cover;
}
.desc {
  flex: 2;
  text-align: center;
}
.overlay {
  background-color: hsla(0, 0%, 0%, 0.15);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.btn-close:hover {
  color: black;
}

.desc-content input[type="email"] {
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.desc-content input[type="email"]::placeholder {
  color: #ccc;
  transition: 0.3s;
}
.desc-content input[type="email"]:focus::placeholder {
  visibility: hidden;
  opacity: 0;
}

.desc-content button {
  display: block;
  width: 100%;
  border: none;
  background-color: crimson;
  color: white;
  cursor: pointer;
  padding: 8px;
  outline: none;
}

.desc-content p {
  text-align: justify;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
    width: 100%;
  }

  .modal-content > div {
    width: 350px;
  }
  .photo {
    flex-basis: 250px;
  }
}
