@media (max-width: 768px) {
  /* Common CSS */
  section {
    padding: 0 25px !important;
  }
  .inner {
    width: 100%;
  }
  .inner > div {
    float: none;
    width: 100%;
    text-align: center;
  }

  section.feature.smart .inner,
  section.feature.edit .inner {
    display: flex;
    flex-direction: column;
  }

  section.feature.smart .inner .desc,
  section.feature.edit .inner .desc {
    order: 1;
  }
  section.feature.smart .inner .photo,
  section.feature.edit .inner .photo {
    order: 2;
  }
  section.feature {
    padding: 25px 0;
  }
  .desc {
    padding: 0 20px;
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .desc h1 {
    font-size: 24px;
    line-height: 1.2em;
  }
  .desc > img {
    margin-bottom: 50px;
  }

  /* header */
  header .btn-download {
    width: 150px;
  }

  /* Welcome Section */
  .heading {
    width: 80%;
  }

  .heading h1 {
    line-height: 1.5em;
    font-size: 32px;
  }
  .download-content span {
    display: none;
  }
  .statics {
    display: none;
  }
  .next-section {
    transform: translateX(-50%) scale(0.8);
  }

  /* Section : CallAction */

  section .callaction {
    padding-top: 90px !important;
  }
  section.callaction h1 {
    font-size: 24px;
    padding-top: 80px;
    font-weight: 300;
  }

  /* Sitemap */

  .link-item-title {
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding-bottom: 10px;
    pointer-events: all;
  }
  .link-item-title:after {
    content: "\e942";
    font-family: "xeicon";
    float: right;
    transition: 0.3s;
  }
  .link-item-title.active:after {
    transform: rotate(180deg);
  }

  .link-item-content {
    display: none;
  }

  /* Footer */
  footer {
    padding: 0 20px;
  }
  .footer-inner {
    width: 100%;
  }
  .link-item {
    float: none;
    width: 100%;
  }
  .policy {
    float: none;
  }
  .language {
    float: none;
  }
  .language select {
    width: 50%;
  }

  /* Copyright */

  .copyright {
    text-align: center;
    border: none;
    padding: 50px 0;
  }
  .logo-footer {
    width: 100%;
  }
  .policy {
    margin-bottom: 30px;
  }
  .policy a {
    margin: 2px;
    font-size: 14px;
  }
}
