@media (max-width: 768px) {
  /* Common CSS */
  .inner {
    width: 100%;
  }
  .inner > div {
    float: none;
    width: 100%;
    text-align: center;
  }

  section.feature.smart .inner,
  section.feature.edit .inner {
    display: flex;
    flex-direction: column;
  }

  section.feature.smart .inner .desc,
  section.feature.edit .inner .desc {
    order: 1;
  }
  section.feature.smart .inner .photo,
  section.feature.edit .inner .photo {
    order: 2;
  }

  /* header */
  header .btn-download {
    width: 150px;
  }

  /* Welcome Section */
  .heading {
    width: 100%;
  }
  .download-content span {
    display: none;
  }
  .statics {
    display: none;
  }
  .next-section {
    transform: translateX(-50%) scale(0.8);
  }

  /* Section : CallAction */

  /* Footer */
  .footer-inner {
    width: 100%;
  }
  .link-item {
    float: none;
    width: 100%;
  }
  .policy {
    float: none;
  }
  .language {
    float: none;
  }
}
